body{
    background-color: rgb(136, 212, 21); 

}

.todo-wrapper{
    background-color:white;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 15px;
    padding: 30px;
}

.todo-wrapper form{
    margin: 5px;
    display: inline;
}

.todo-wrapper input{
    margin:5px;
    padding: 6px;
}

.todo-wrapper h1{
    margin: 0;
}

.todo-wrapper p{
    color: blueviolet;
    font-size: 20;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
    margin: 5px;
}

.todo-wrapper ol{
    margin:20px;
}

.todo-wrapper ol li{
    font-style: italic;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 5px;
    padding: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.todo-wrapper .completed{
    text-decoration: line-through;
    color: brown;
}

.todo-wrapper button{
    margin:10px 2px 2px;
    padding: 5px 20px;
    border-radius: 15px;
    text-align: center;
    font-size: medium;
}

.todo-wrapper button:hover{
    cursor: pointer;
    opacity: 0.75;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
}

.todo-wrapper #clear-completed{
    background-color: chartreuse;
}

.todo-wrapper #empty-list{
    background-color: crimson;
}

.todo-wrapper #save-list{
    background-color: coral;
}

footer{
    text-align: right;
    margin: 10px;
    padding-right: 150px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
}

@media only screen and (min-width: 1400px) {
    .todo-wrapper {
        width: 50%;
    }

    .todo-wrapper input {
        width: 600px;
    }
    
}

@media only screen and (max-width: 1399px) and (min-width: 750px) {
    .todo-wrapper {
        width: 75%;
    }

    .todo-wrapper input {
        width: 400px;
    }
}